#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  color: #667085;
  border-radius: 8px;
}

.btn.more {
  padding: 10px 25px;
  margin-top: 40px;
  border-radius: 8px;
  background: #444CE7;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
}

.img-wrap {
  display: flex;
  position: relative;
}

.img-wrap .img-box {
  overflow: hidden;
  border-radius: 16px;
}

.chk-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 26px;
}

.chk-list li {
  width: 260px;
}

.chk-list li + li {
  margin-bottom: 15px;
}

.chk-list .txt {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #667085;
}

.chk-list .txt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/content/check.svg) no-repeat center/100% auto;
  vertical-align: middle;
  margin-right: 10px;
}

.header {
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  display: flex;
  align-items: center;
}

.header nav ul li {
  padding: 4px 0;
  margin-right: 40px;
}

.header nav ul li:last-child {
  margin-right: 0;
}

.header nav ul li a {
  font-weight: 500;
  color: #667085;
}

.header nav ul .drop-menu a::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/content/chk-down.svg) no-repeat center center;
  background-size: 20px 20px;
  margin-left: 8px;
  vertical-align: middle;
}

.header nav ul .drop-menu .sub-menu {
  display: none;
}

.header .login-group .log-txt {
  padding: 10px 18px;
  background-color: #fff;
}

.header .login-group .log-btn {
  padding: 8px 18px;
  background-color: #444CE7;
  color: #fff;
}

.cont-area {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-color: #f5f8ff;
  display: grid;
  grid-template-columns: 1fr auto;
}

.cont-area .txt-box {
  padding: 130px 82px 0 300px;
}

.cont-area .txt-box .title {
  font-size: 56px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: -1.12px;
  color: #344054;
}

.cont-area .txt-box .desc {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
}

.cont-area .txt-box ul {
  display: flex;
  margin-top: 40px;
}

.cont-area .txt-box ul li {
  font-size: 14px;
  line-height: 20px;
  color: #667085;
}

.cont-area .txt-box ul li + li {
  margin-left: 60px;
}

.cont-area .txt-box ul li strong {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #344054;
}

.cont-area .img-box {
  width: 940px;
  height: auto;
}

.search-area {
  position: relative;
  max-width: 1320px;
  margin: -50px auto 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  padding: 30px 41px 32px;
  border-radius: 0px 16px 16px 16px;
  background-color: #FFF;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.06);
}

.search-area .input-area {
  display: flex;
}

.search-area .input-area .input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 343px;
}

.search-area .input-area .input-group + .input-group {
  margin-left: 20px;
}

.search-area .input-area .input-group label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #344054;
}

.search-area .input-area .input-group .inp-txt {
  position: relative;
  margin-top: 6px;
  width: 343px;
  padding: 12px 40px 12px 14px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  box-sizing: border-box;
}

.search-area .input-area .input-group .icon {
  position: absolute;
  right: 14px;
  bottom: 15px;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
}

.search-area .input-area .input-group .icon.map {
  background: url(../img/content/map-pin.png);
}

.search-area .input-area .input-group .icon.home {
  background: url(../img/content/home.png);
}

.search-area .input-area .input-group .icon.dollar {
  background: url(../img/content/dollar-sign.png);
}

.search-area .input-group .btn {
  padding: 12px 28px;
  border-radius: 8px;
  background: #444CE7;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

section {
  max-width: 1320px;
  margin: 0 auto;
  padding: 130px 0;
}

.title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-area .txt-group .top-txt {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #444CE7;
  margin-bottom: 15px;
}

.title-area .txt-group .top-txt::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color: #444CE7;
  box-sizing: border-box;
  margin-right: 16px;
}

.title-area .txt-group h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: #344054;
}

.title-area .txt-group .desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
  margin-top: 20px;
}

.our .title-area .txt-ico a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #344054;
}

.our .title-area .txt-ico a::after {
  content: "";
  display: inline-block;
  width: 43px;
  height: 24px;
  vertical-align: top;
  background: url(../img/content/arrow-right.svg) no-repeat center;
  margin-left: 6px;
}

.our .our-house-area {
  margin-top: 40px;
}

.our .our-house-area .item-group {
  display: flex;
  align-items: center;
}

.our .our-house-area .item-group .item {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid #F2F4F7;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  overflow: hidden;
  width: 420px;
}

.our .our-house-area .item-group .item .item-img {
  width: 420px;
  height: 267px;
}

.our .our-house-area .item-group .item + .item {
  margin-left: 30px;
}

.our .our-house-area .item-group .item .txt-group {
  padding: 25px 22px;
}

.our .our-house-area .item-group .item .txt-group .money {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #444CE7;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #667085;
}

.our .our-house-area .item-group .item .txt-group .money span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  padding: 2px 10px;
  border-radius: 4px;
  color: #444ce7;
  background: #f5f8ff;
  margin-left: 20px;
}

.our .our-house-area .item-group .item .txt-group .title {
  font-size: 20px;
  font-weight: 600;
  color: #344054;
  margin-top: 15px;
}

.our .our-house-area .item-group .item .txt-group .address {
  font-size: 14px;
  font-weight: 400;
  color: #667085;
  margin-top: 20px;
}

.our .our-house-area .item-group .item .txt-group .address::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/content/map-pin.svg) no-repeat center/100% auto;
  vertical-align: middle;
  margin-right: 8px;
}

.our .our-house-area .item-group .txt-bottom {
  border-top: 1px solid #F2F4F7;
  padding: 22px;
}

.our .our-house-area .item-group .txt-bottom .info-group {
  display: flex;
  justify-content: space-between;
}

.our .our-house-area .item-group .txt-bottom .info-group .info {
  display: flex;
  align-items: center;
}

.our .our-house-area .item-group .txt-bottom .info-group .info li + li {
  margin-left: 25px;
}

.our .our-house-area .item-group .txt-bottom .info-group .info img {
  width: fit-content;
  margin-right: 8px;
}

.our .our-house-area .item-group .txt-bottom .info-group .info span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #475467;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about .title-area {
  margin-top: 25px;
  padding-left: 108px;
}

.about .img-wrap .play-btn {
  width: 92px;
  height: 92px;
  position: absolute;
  top: 171px;
  left: 207px;
  z-index: 2;
}

.about .img-wrap .img-box.short {
  position: relative;
  width: 253px;
  height: 434px;
  flex-shrink: 0;
  margin-right: 16px;
}

.about .img-wrap .img-box.big {
  width: 401px;
  height: 455px;
  margin-top: 30px;
}

.trendy .img-city-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.trendy .img-city-list li {
  position: relative;
  width: 420px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
}

.trendy .img-city-list li::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 6.99%, rgba(0, 0, 0, 0) 42.7%);
}

.trendy .img-city-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.trendy .img-city-list .title {
  position: absolute;
  left: 35px;
  bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #FFF;
  z-index: 3;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .title-area {
  padding-left: 106px;
}

.contact .img-box {
  width: 501px;
  height: 581px;
}

.profile-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.profile-list .profile {
  max-width: 420px;
  font-size: 16px;
  line-height: 26px;
  color: #667085;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 16px;
  border: 1px solid #F2F4F7;
  padding: 30px;
}

.profile-list .profile .person {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #475467;
}

.profile-list .profile .person-box {
  width: 70px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  margin-right: 24px;
}

.profile-list .profile .name-group .name {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #344054;
}

.title-area .slide-nav {
  display: flex;
  align-items: center;
}

.title-area .slide-nav .nav-prev::after {
  content: "";
  display: inline-block;
  width: 31px;
  height: 24px;
  vertical-align: top;
  background: url(../img/content/arrow-left.svg) no-repeat center;
}

.title-area .slide-nav .nav-next::after {
  content: "";
  display: inline-block;
  width: 43px;
  height: 24px;
  vertical-align: top;
  background: url(../img/content/arrow-right.svg) no-repeat center;
}

.title-area .slide-nav span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.questions-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 20px;
}

.questions-list .questions {
  display: flex;
}

.questions-list .questions button {
  border-radius: 8px;
  border: 1px solid #EAECF0;
  padding: 20px;
}

.questions-list .questions .txt-box {
  display: none;
}